
.headerMe{
    padding: 0px; 
    margin-top: -8px; 
    margin-left: -8px; 
    margin-right: -8px
  }
  .checkSearch{
    float:left; 
    line-height: 30px; 
    font-family: PingFangSC; 
  }
  
  .initBlog{
    width: auto;
    height: 60px;
    margin-top: -15px
  }
  
  // 搜索框
  .my-autocomplete {
    li {
      line-height: normal;
      padding: 5px;
      .name {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
      }
      .tags {
        font-size: 10px;
        text-overflow: ellipsis;
        color: #b4b4b4;
      }
  
      .highlighted .tags {
        color: #ddd;
      }
    }
  }
  // 头像
  .hportrait{
    float:left; 
    height: 100%; 
    width: 36px; 
    margin-top: -10px;
    img{
      width: 35px;
      height: 35px;
      border-radius: 20px;
      font-family: "PingFang SC";
    }
  }
  .nickName{
    font-size: 16px;
    float:left; 
    height: 100%; 
    width: 30px; 
    line-height: 30px; 
    margin-left: 5px;
    margin-top: -3px
  }
  // 路由链接
  .router-container{
    width: 100%;
    .router-div{
      font-family: "Microsoft YaHei";
      text-align: center;
      float:left;
      width: 100px;
      height: inherit;
      line-height: 30px;
      font-size: 16px;
    }
    div:hover{
        cursor: pointer;
    }
  }
  
  // 头部登录注册样式
  .loginRegister{
    float:right;
    img{
      width: 21px; 
      height: 21px;
    }
    div{
      font-family: "Microsoft YaHei";
      text-align: center;
      float:left;
      width: 50px;
      height: inherit;
      line-height: 30px;
      font-size: 16px;
      float:left;
      margin-top: -5px;
      font-size: 12px;
      float:left;
      &:hover{
        color:dodgerblue
      }
      div{
        position: relative;
        left: 1px;
        bottom: 10px;
      }
    }
  }
  
  // 登录之后的显示样式
  .login-container{
    float: right;
    div{
      float:left; 
      line-height: 30px; 
      margin-right: 15px;
      i{
        font-size: 18px
      }
    }
  }